	#event-details {
	width: 100%;
	display: block;
	min-height: 150px; }

		#event-details .left { 
		float: left; width: 50%; margin-right: 50px; display: block; }

		#event-details .right { 
		float: right; width: 40%; }

		.entry-content h1.price { 
			font-weight: 200;
			font-size: 48px;
			margin-top: 0px;
			line-height: 38px; }

	.volunteer-button {
	width: 150px;
	background: #CCC;
	font: inherit;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
	color: #333;
	font-weight: bold; }

		.volunteer-button:hover {
		background: #333;
		color: white; }

	form.volunteer-form ul {
	list-style: none;
	padding: 15px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: 25px; }

		form.volunteer-form > ul > li {
		padding: 4px 0; }

		form.volunteer-form input {
		width: 170px; }

		form.volunteer-form label {
		min-width: 120px;
		display: inline-block;
		text-align: right; }

		form.volunteer-form input[type="submit"] {
		margin-left: 126px; }

	#volunteer-box {
	display: block;
	width: 100%;
	clear: both;
	margin-top: 15px; }

	#upcoming-event { 
		background-color: #f1f1f1;
		padding-top: 35px;
		padding-bottom: 20px; }

		#upcoming-event h2,
		#upcoming-event h3,
		#upcoming-event h4,
		#upcoming-event h5 { 
		margin-top: 0; }

	.timer-col {
	margin-right: 4%;
	display: inline-block; }

		.timer-col span {
		height: 40px;
		display: block;
		text-align: center;
		line-height: 33px;
		font-size: 18px;
		width: 40px;
		font-weight: 300; }

@media (max-width: 480px) {

	#event-details > div.left,
	#event-details > div.right {
	width: 100%;
	float: none;
	margin-bottom: 20px; }

}